<%=form_for @item, :method => (@item.new_record? ? :post : :put ) do |item_form|%>

    <div class="field">
      <%=item_form.label 'Name'%>
      <%=item_form.text_field 'name'%>
    </div>
    <div class="field">
      <%=item_form.fields_for :form_of_fields do |fof|%>
          <%= render partial: 'form_of_fields/fields', locals:  { f: fof }%>
      <% end %>
    </div>
    <div class="field">
      <%= link_to_add_fields "Add Field", item_form, :form_of_fields %>
    </div>
    <div class="field">
      <%=item_form.submit (@item.id.nil? ? "Create" : "Update")%>
    </div>

<% end %>