<h2>
  <%=@item.name%>
</h2>
<h3 class="pull-right">
  <%=link_to "Edit", edit_item_path(@item)%>
</h3>
<% @item.form_of_fields.each do |fof| %>
    <div class="label"><%=fof.field_label.capitalize%></div>
    <% if check_box_or_radio_button?(fof.field_type)%>
        <% fof.form_field_options.each do |ffo|%>
            <%=render partial: "input_types/#{ fof.field_type }"%><%=ffo.field_label%>
        <% end %>
    <% else %>
        <%=render partial: "input_types/#{ fof.field_type }"%>
    <% end %>
<% end %>