<h2>
  <%=@item.name%>
</h2>
<h3 class="pull-right">
  <%=link_to "Edit", edit_item_path(@item)%>
</h3>
<% @item.form_of_fields.each do |fof| %>
    <div class="label"><%=fof.field_label%></div>
    <% if ['check_box', 'radio_button'].include?( fof.send(:field_type) )%>
        <% fof.form_field_options.each do |ffo|%>
            <%=render partial: "input_types/#{ fof.send(:field_type) }"%><%=ffo.field_label%>
        <% end %>
    <% else %>
        <%=render partial: "input_types/#{ fof.send(:field_type) }"%>
    <% end %>
<% end %>