<div class="form_fields">

      <div class="field">
        <%=f.label 'Field Label'%>
        <%=f.text_field :field_label%>
      </div>

    <div class="field">
      <%=f.label 'Field Type'%>
      <%=f.select :field_type, options_for_select(Item::FIELDS, f.object.field_type), {:prompt => "--Select--"}, {:class => 'select_field_type'}%>
      <div style="margin-left: 20px;display:<%=check_box_or_radio_button?(f.object.field_type) ? 'block;' : 'none;'%>" class="checkbox_radio_labels">
        <div class="field">
          <h4>Add Labels for Options(radiobutton/checkbox)</h4>
          <%=f.fields_for :form_field_options do |ffo|%>
              <%=render :partial => 'items/form_field_options', locals: { f: ffo }%>
          <% end %>
        </div>
        <%= link_to_add_fields "Add Option", f, :form_field_options %>
      </div>
    </div>



    <div class="field">
        <%= f.hidden_field :_destroy %>
        <%= link_to 'remove', '#', class: 'remove_fields' %>
    </div>

</div>